NOX_SAFE_SIGNER_1_OWNER_ADDRESS=0x...
NOX_SAFE_SIGNER_1_OWNER_PRIVATE_KEY=0x...

NOX_SAFE_SIGNER_2_SECURITY_ADDRESS=0x...
NOX_SAFE_SIGNER_2_SECURITY_PRIVATE_KEY=0x...

NOX_SAFE_SIGNER_3_TREASURY_ADDRESS=0x...
NOX_SAFE_SIGNER_3_TREASURY_PRIVATE_KEY=0x...

NOX_SAFE_SIGNER_4_OPERATIONS_ADDRESS=0x...
NOX_SAFE_SIGNER_4_OPERATIONS_PRIVATE_KEY=0x...

NOX_SAFE_SIGNER_5_RECOVERY_ADDRESS=0x...
NOX_SAFE_SIGNER_5_RECOVERY_PRIVATE_KEY=0x...

NOX_MULTISIG_ADDRESS=0x...
