.env
.env.*
*.pem
*.key
*.keystore
secrets/
.secrets/

node_modules/
lib/
out/
cache/
artifacts/
broadcast/
typechain-types/
coverage/
.coverage
.coverage.*
gas-report.txt

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
